
@{
    ViewBag.Title = "FeedbackList";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}

<h2>FeedbackList</h2>
Name<input type="text" id="txtName"/></br>
Email<input type="text" id="txtEmail"></br>
Describe_Feedback<input type="text"id="txtDescribe_Feedback"/></br>


