
@{
    ViewBag.Title = "Feedback";
}

<h6>FeedbackIndex</h6>
<div class="breadcrumbs">   
        <div class="container position-relative">
            <div class="row d-flex justify-content-center">               
                    <h1>Feedback Form</h1>             
                </div>
            </div>
        </div>  
<section class="quote-area solid-bg" id="quote-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-2">
                @*<div class="quote_form">
                <h2 class="column-title "><span>Delivery & return solutions worldwide</span>Get a Quick Quote</h2>
                <div class="quote-img">
                    <img class="img-fluid" src="images/alltransport.png" alt="img">
                </div>
            </div>*@
                <!-- Quote form end-->
            </div>
            <!-- Col end-->
            <div class="carousel-item active" style="background-color:antiquewhite">

                <div class="col-lg-8 qutoe-form-inner-le">
                    <form class="contact-form" id="contact-form" action="contact-form.php" method="POST">
                        <h2 class="column-title "><span><h1><Center></Center></h1></span></h2>
                        <div class="error-container"></div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group"> 

                                    <!-- Col end-->
                                    <!-- Col 12 end-->
                                </div>
                                <div class="feedback-w3layouts">
                                    <form action="#" method="post">
                                        <div class="field-w3-agile-grid leftf">
                                            <label><h6>
                                                <i class="fa fa-user"aria-hidden="true"></i> Name:
                                            </label>
                                            <input type="text" name="name" placeholder=" " required="" /></h6>
                                        </div>
                                        <div class="field-w3-agile-grid rightf">
                                            <label><h6>
                                                <i class="fa fa-envelope" aria-hidden="true"></i> Email :
                                            </label>
                                            <input type="email" name="email" placeholder=" " required="" /></h6>
                                        </div>
                                        <div class="clear"> </div>
                                        <div class="form-option-w3-agileits">

                                        </div>
                                        <div class="text-field-agileits-w3layouts">
                                            <label><h6><center>
                                                <i class="fa fa-comments" aria-hidden="true"></i> Describe Feedback :
                                            </label>
                                            <textarea name="Comments" placeholder=" " required=""></textarea></h6></center>
                                        </div>

                                        <!-- Form row end-->
                                        <div class="text-right"><Center>
                                            <button class="btn btn_Primary tw-mt-30" type="submit">Submit FeedBack</button></center>
                                        </div>
                                    </form>
                                    <!-- Form end-->
                                </div>
                                <!-- Col end-->
                            </div>
                            <!-- Content row end-->
                        </div>
                        <!-- Container end-->
</section>