
@{
    ViewBag.Title = "Index";
}


<div class="banner-area" id="banner-area" style="background-image: url('../../content/images/FacultyBack.jpeg'); ">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <div class="banner-heading">
                    <h1 style="color:black" class="banner-title">Faculty</h1>
                    <ol class="breadcrumb">
                        <li style="color:black">Home</li>
                        <li style="color:black"><a style="color:black" href="#">Faculty</a></li>
                    </ol>
                </div>
            </div>
            <!-- Col end-->
        </div>
        <!-- Row end-->
    </div>
    <!-- Container end-->
</div>
<!-- Banner area end-->

<section class="main-container no-padding" id="main-container">
    <div class="ts-services " id="ts-services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="section-title"><span></span>Our Faculty</h2>
                </div>
            </div>
            <!-- Title row end-->
            
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="ts-service-box">
                            <div class="ts-service-image-wrapper">
                                <img class="img-fluid" src="~/Content/images/tech1.jpeg" alt="">
                            </div>
                            <div class="ts-service-content">
                                <h3 class="service-title">Air Freight</h3>
                                <p>Tofu mixtape twee, assumenda quinoa flexitarian aesthetic artisan vinyl pug. Chambray et Carles.</p>
                                <p><a class="link-more" href="service-single.html">Read More <i class="icon icon-right-arrow2"></i></a></p>
                            </div>
                        </div>
                        <!-- Service1 end-->
                    </div>
                    <!-- Col 1 end-->
                    <div class="col-lg-4 col-md-12">
                        <div class="ts-service-box">
                            <div class="ts-service-image-wrapper">
                                <img class="img-fluid" src="~/Content/images/tech3.jpeg" alt="">
                            </div>
                            <div class="ts-service-content">
                                <h3 class="service-title">Ocean Freight</h3>
                                <p>Tofu mixtape twee, assumenda quinoa flexitarian aesthetic artisan vinyl pug. Chambray et Carles.</p>
                                <p><a class="link-more" href="service-single.html">Read More <i class="icon icon-right-arrow2"></i></a></p>
                            </div>
                        </div>
                        <!-- Service2 end-->
                    </div>
                    <!-- Col 2 end-->
                    <div class="col-lg-4 col-md-12">
                        <div class="ts-service-box">
                            <div class="ts-service-image-wrapper">
                                <img class="img-fluid" src="~/Content/images/tech3.jpeg" alt="">
                            </div>
                            <div class="ts-service-content">
                                <h3 class="service-title">Cargo Express</h3>
                                <p>Tofu mixtape twee, assumenda quinoa flexitarian aesthetic artisan vinyl pug. Chambray et Carles.</p>
                                <p><a class="link-more" href="service-single.html">Read More <i class="icon icon-right-arrow2"></i></a></p>
                            </div>
                        </div>
                        <!-- Service3 end-->
                    </div>
                    <!-- Col 3 end-->
                </div>
                </div>
            </div>
        
    </section>
