@{
    ViewBag.Title = "About";
}

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<script src="~/Content/js/Aboutjs.js"></script>
<link href="~/Content/css/AboutStyle.css" rel="stylesheet" />


<body>

    <div class="banner-area" id="banner-area" style="background-image: url('../../content/images/banner/banner1.jpg');">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="banner-heading">
                        <h1 class="banner-title">About Us</h1>
                        <ol class="
                            <li>Home</li>
                            <li><a href="#">About us</a></li>
                        </ol>
                    </div>
                </div>
                <!-- Col end-->
            </div>
            <!-- Row end-->
        </div>
        <!-- Container end-->
    </div>

    <!-- Carousel
      ================================================== -->
    <!-- /.carousel -->
    <!-- Marketing messaging and featurettes
      ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <!--<div class="row">
    <div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>-->
        <!-- /.col-lg-4 -->
        <!--<div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>-->
        <!-- /.col-lg-4 -->
        <!--<div class="col-lg-4">
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
        <h2>Heading</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>-->
        <!-- /.col-lg-4 -->
        <!--</div>-->
        <!-- /.row -->
        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">

            <div class="col-md-7">
                <h1>
                    HISTORY
                </h1>
                <!--<h3 class="featurette-heading">HISTORY--> @*<span class="text-muted">It'll blow your mind.</span>*@<!--</h3>-->
                <p class="lead">

                    MAHATMA JYOTIBA FULE SOCIAL WORK COLLEGE, BULDHANA. is a Private Aided , college which has been founded in the year 1993 at chikhali road, near MIDC area,Buldana, chikhali road, near MIDC area,Buldana, Buldana, Buldana-Maharashtra.

                    MAHATMA JYOTIBA FULE SOCIAL WORK COLLEGE, BULDHANA. is affiliated to Sant Gadge Baba Amravati University, Amravati. which is a State Public University.MAHATMA JYOTIBA FULE SOCIAL WORK COLLEGE, BULDHANA. is regulated by University Grants Commission.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="~/Content/images/History.jpeg" />

            </div>

        </div>
        

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h3 class="featurette-heading">VISSION</h3>
                <p class="lead">To become one of the India's leading Engineering institutes in both education and research. We are committed to provide quality and state-of-the-art technical education to our students, so that they become technologically superior and in turn contribute for creating a great society.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="~/Content/images/Vission.jpeg" />

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">MISSION</h2>
                <p class="lead">We commit ourselves to the pursuit of excellence in technical education and promise to uphold the spirit of professionalism to serve the humanity.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="~/Content/images/Achiv.jpeg" />
            </div>
        </div>

        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->
        <!-- FOOTER -->
        <footer>
            <p class="pull-right"><a href="#">Back to top</a></p>

        </footer>

    </div>
    <!-- /.container -->
    <!-- Bootstrap core JavaScript
      ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="https://getbootstrap.com/docs/3.3/assets/js/vendor/holder.min.js"></script>
</body>