
@{
    ViewBag.Title = "Index";
}

<section class="main-container no-padding" id="main-container">
    <div class="ts-services " id="ts-services">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2 class="section-title">Our Facilities</h2>
                </div>
            </div>
            <!-- Title row end-->
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <div class="ts-service-box">
                        <div class="ts-service-image-wrapper">
                            <img class="img-fluid" src="images/services/service1.jpg" alt="">
                        </div>
                        <div class="ts-service-content">
                            <img src="~/Content/images/lib1.jpeg" />
                            <h3 class="service-title">Hostel</h3>
                            <p>
                                Our institute has a well equipped hostel for girl students.
                                For parents and students alike reaching out for a hostel can be an overwhelming experience. For the former it is sending their precious away from them. And, for the latter a new life where every step,
                                each decision and every endeavor will act as a fuel to shape their future!
                            </p>
                            <p><a class="link-more" href="service-single.html">Read More <i class="icon icon-right-arrow2"></i></a></p>
                        </div>
                    </div>
                    <!-- Service1 end-->
                </div>
                <!-- Col 1 end-->
                <div class="col-lg-4 col-md-12">
                    <div class="ts-service-box">
                        <div class="ts-service-image-wrapper">
                            <img class="img-fluid" src="images/services/service2.jpg" alt="">
                        </div>
                        <div class="ts-service-content">
                            <img src="~/Content/images/tranpport1.jpeg" />
                            <h3 class="service-title">Bus</h3>
                            <p>
                                With the educational institute like those under the RGI,
                                excellence in education, diligence team of educators and state-of-the-art tools is expected.
                                Thus, we make sure to go that extra mile to offer comfort to our students in all possible ways.
                                We have students joining our educational institute from all the nook and corner of the city.
                                In order to provide them with the travel assistance to and from the institute,
                                we have our impeccable transportation system..
                            </p>
                            <p><a class="link-more" href="service-single.html">Read More <i class="icon icon-right-arrow2"></i></a></p>
                        </div>
                    </div>
                    <!-- Service2 end-->
                </div>
                <!-- Col 2 end-->
                <div class="col-lg-4 col-md-12">
                    <div class="ts-service-box">
                        <div class="ts-service-image-wrapper">
                            <img class="img-fluid" src="images/services/service3.jpg" alt="">
                        </div>
                        <div class="ts-service-content">
                            <img src="~/Content/images/lib1.jpeg" />
                            <h3 class="service-title">Library</h3>
                            <p>
                                The word library is enough to picture you a nicely lit room, well ventilated,
                                well-structured books, journals and magazines. The library at GHRIET is every bit that and more to it.
                                The fact that it is continuously updated with the latest information in the form of study material,
                                books and reference books pursues the needful.
                            </p>
                            <p><a class="link-more" href="service-single.html">Read More <i class="icon icon-right-arrow2"></i></a></p>
                        </div>
                    </div>
                    <!-- Service3 end-->
                </div>
                <!-- Col 3 end-->
            </div>

